operate/*.ncb
operate/*.suo
operate/Debug/*
operate/Release/*
operate/operate/*.user
operate/operate/Debug/*
operate/operate/Release/*

woperate/*.ncb
woperate/*.suo
woperate/Debug/*
woperate/Release/*
woperate/woperate/*.user
woperate/woperate/Debug/*
woperate/woperate/Release/*

